body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover {
  color: hsl(197, 100%, 25%);
}

code {
  font-family: monospace;
}

footer {
  /* position: absolute; */
  /* bottom: -1px; */
  color: hsl(0, 0%, 40%);
}