<div>
    <a href="/">HOME</a> | <a href="/help">HELP</a> | <a href="https://reactbank-front-end.netlify.app/" target="_blank"> ReactBank<img src="https://reactbank-front-end.netlify.app/logo192.png" alt="ReactBank Logo" width="15px" height="15px"></a>
</div>