<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
        name="description"
        content="Welcome to ReactBank. This is the Backend services provided as an API"
    />
    <link rel="apple-touch-icon" href="/images/logo192.png" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>