<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %> 
    <h1><%= title %></h1>
    <hr>
    <p>Here you will find all the information to use this API</p>
    <article>

    </article>
    <article id="register">
      <h3>Register:</h3>
      <p>This route reponses to <code>POST</code> <a href="#register">/api/register</a></p>
    </article>
    <hr>
    <article id="login">
      <h3>Login:</h3>
      <p>This route reponses to <code>POST</code> <a href="#login">/api/login</a></p>
      <p>Accepts:</p>
      <ul>
        <li><code>email: value</code></li>
        <li><code>password: value</code></li>
      </ul>
      <p>Expected response:</p>
      <ul>
        <li>Success: <code>{ "message" : "User Logged In"}</code></li>
        <li>Unsuccess: <code>{ "message" : "User or password incorrect." }</code></li>
      </ul>
    </article>
    <hr>
  </body>
</html>