<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %> 
    <h1><%= title %></h1>
    <hr>
    <p>Here you will find all the information to use this API</p>
  </body>
</html>