<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %> 
    <h1><%= title %></h1>
    <hr>
    <p>Welcome to <%= title %></p>
    <h2>Currently supported request via <code>POST</code></h2>
    <ul>
      <li><a href="/help#register">api/register</a></li>
      <li><a href="/help#login">api/login</a></li>
    </ul>
  </body>
</html>
