/* Importing FontAwesome for Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* { box-sizing: border-box;}

/* PALETTE

$blue : #61DAFB;
$darkBlue : #326F80; 
$black : #000000;
$white : #FFFFFF;

EXTRA VARIANTS

$default-font: 'Josefin Sans', Helvetica, sans-serif; */

a {
  color: #326F80;
  text-decoration: none;
}

a:hover {
  color: #61DAFB;
  text-decoration: underline;
}

h1 {
  font-size: xx-large;
}

body {
  background-image: url('../images/reactbank-bg.jpg');
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rb-logo {
  width: 25px;
}

header {
  font-size: large;
}

.home, .help {
  height: inherit;
}

footer {
  text-align: center;
  font-size: small;
  border-top: 1px solid #000000;
}

footer p:first-child {
  margin-top: 10px;
}

footer p {
  margin: 0px;
}
